.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 49px 92px 51px;
}

.header__links-list {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 32px;
}

.header__links-list-item {
  font-size: 18px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  justify-self: center;
  width: 138px;
  height: 105px;
}

.address {
  display: flex;
  justify-self: end;
  align-items: center;
  max-width: 240px;
  font-size: 18px;
}

.address__list {
  line-height: 23px;
  list-style: none;
}

.address__list-link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.address__list-item-underline {
  border-bottom: 1px solid #000;
}

.address__link {
  text-decoration: underline;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 119px;
  padding: 165px 40px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.aligned-text {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 29px;
  line-height: 125px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.aligned-text-word {
  display: inline;
  padding-left: 30px;

}

.aligned-text-word-right {
  display: inline;
  padding-right: 32px;
}

.cover__description {
  z-index: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
  word-spacing: 21px;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  justify-content: center;
  padding: 180px 50px;
  color: #000;
}

.lots__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 40px;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 430px);
  grid-auto-flow: row dense;
  gap: 25px;
}

.lots__card-list-item {
  min-height: 450px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 0 50px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 9999px;
  padding: 63px 46px;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  padding: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 356px;
  padding: 180px 50px 90px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
